<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true">
  <targets>
    <target name="fileLog" type="AsyncWrapper" queueLimit="5000">
      <target type="File" layout="${longdate} [${threadid:padding=3}] ${logger:padding=-30} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/${logger}/${level}.log" encoding="UTF-8"/>
    </target>

    <target name="consoleLog" type="AsyncWrapper" queueLimit="5000">
      <target type="Console" layout="${date} ${message} ${exception:format=tostring}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" writeTo="fileLog" />
    <logger name="*" writeTo="consoleLog" />
  </rules>
</nlog>
